In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r'/content/Q9_a.csv')

In [3]:
df.head

<bound method NDFrame.head of     Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85>

In [4]:
df.drop(columns='Index', inplace=True)

In [5]:
df.head()

   speed  dist
0      4     2
1      4    10
2      7     4
3      7    22
4      8    16

In [8]:
import scipy

In [12]:
Array=df.to_numpy()
print(Array)

[[  4   2]
 [  4  10]
 [  7   4]
 [  7  22]
 [  8  16]
 [  9  10]
 [ 10  18]
 [ 10  26]
 [ 10  34]
 [ 11  17]
 [ 11  28]
 [ 12  14]
 [ 12  20]
 [ 12  24]
 [ 12  28]
 [ 13  26]
 [ 13  34]
 [ 13  34]
 [ 13  46]
 [ 14  26]
 [ 14  36]
 [ 14  60]
 [ 14  80]
 [ 15  20]
 [ 15  26]
 [ 15  54]
 [ 16  32]
 [ 16  40]
 [ 17  32]
 [ 17  40]
 [ 17  50]
 [ 18  42]
 [ 18  56]
 [ 18  76]
 [ 18  84]
 [ 19  36]
 [ 19  46]
 [ 19  68]
 [ 20  32]
 [ 20  48]
 [ 20  52]
 [ 20  56]
 [ 20  64]
 [ 22  66]
 [ 23  54]
 [ 24  70]
 [ 24  92]
 [ 24  93]
 [ 24 120]
 [ 25  85]]

In [15]:
sp_arr=df.iloc[:,0]
sp_arr

0      4
1      4
2      7
3      7
4      8
5      9
6     10
7     10
8     10
9     11
10    11
11    12
12    12
13    12
14    12
15    13
16    13
17    13
18    13
19    14
20    14
21    14
22    14
23    15
24    15
25    15
26    16
27    16
28    17
29    17
30    17
31    18
32    18
33    18
34    18
35    19
36    19
37    19
38    20
39    20
40    20
41    20
42    20
43    22
44    23
45    24
46    24
47    24
48    24
49    25
Name: speed, dtype: int64

In [17]:
scipy.stats.skew(sp_arr, axis=0, bias=True)

-0.11395477012828319

In [18]:
dist_arr=df.iloc[:,1]
dist_arr

0       2
1      10
2       4
3      22
4      16
5      10
6      18
7      26
8      34
9      17
10     28
11     14
12     20
13     24
14     28
15     26
16     34
17     34
18     46
19     26
20     36
21     60
22     80
23     20
24     26
25     54
26     32
27     40
28     32
29     40
30     50
31     42
32     56
33     76
34     84
35     36
36     46
37     68
38     32
39     48
40     52
41     56
42     64
43     66
44     54
45     70
46     92
47     93
48    120
49     85
Name: dist, dtype: int64

In [19]:
scipy.stats.skew(dist_arr, axis=0, bias=True)

0.7824835173114966

In [20]:
scipy.stats.kurtosis(sp_arr, axis=0, fisher=True, bias=True)

-0.5771474239437371

In [21]:
scipy.stats.kurtosis(dist_arr, axis=0, fisher=True, bias=True)

0.24801865717051808

In [22]:
df1=pd.read_csv(r'/content/Q9_b.csv')

In [24]:
df1.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [25]:
df1.drop(columns='Unnamed: 0', inplace=True)

In [26]:
Array1=df1.to_numpy()
print(Array1)

[[104.1853528   28.7620589 ]
 [105.4612635   30.46683298]
 [105.4612635   30.19359657]
 [113.4612635   30.63211391]
 [104.4612635   29.88914864]
 [113.1853528   29.59176832]
 [105.4612635   30.30847957]
 [102.5985128   15.84775807]
 [102.5985128   16.35948352]
 [115.6452041   30.92015417]
 [111.1853528   29.36334142]
 [117.5985128   15.75353468]
 [122.1050553   32.81359241]
 [111.1853528   29.3784363 ]
 [108.1853528   29.34727902]
 [111.1853528   29.60452658]
 [114.3692933   29.5357836 ]
 [117.5985128   16.19412154]
 [114.3692933   29.92939368]
 [118.4729364   33.51697417]
 [119.1050553   32.32464971]
 [110.8408174   34.90821127]
 [120.2889958   32.6758277 ]
 [113.8291446   31.83712236]
 [119.1853528   28.78172789]
 [114.5985128   16.04317492]
 [120.7605199   38.06282335]
 [119.1050553   32.83506939]
 [ 99.56490661  34.4832075 ]
 [121.8408174   35.54935984]
 [113.4846092   37.04235003]
 [112.2889958   33.23436141]
 [119.9211148   31.38004084]
 [121.3926389   37.57328965]
 [111.2889958   32.701644  ]
 [115.0130851   31.9112234 ]
 [114.0933825   28.75400008]
 [116.909442    27.87991549]
 [116.909442    28.63050247]
 [128.4612635   30.11543403]
 [116.3926389   37.39252442]
 [115.7488471   35.02717556]
 [117.4612635   30.52742698]
 [114.0933825   28.34397592]
 [114.3809661   33.07863163]
 [117.1050553   32.62191589]
 [118.2086984   36.49861738]
 [116.4729364   33.91005598]
 [127.909442    28.07059654]
 [118.2889958   33.45847152]
 [118.2889958   33.21395395]
 [118.2889958   33.43671117]
 [120.4043117   40.39816357]
 [143.3926389   37.62069475]
 [135.3926389   37.25439197]
 [126.4043117   40.58906845]
 [110.4612635   30.14754329]
 [118.2889958   32.73451818]
 [112.6452041   30.61528334]
 [115.5765794   37.66287367]
 [130.2086984   36.88815313]
 [117.6685497   37.86041143]
 [126.0481035   43.3909885 ]
 [125.3123415   40.72283115]
 [128.128401    40.15948186]
 [126.5985128   15.71285853]
 [132.4846092   37.97995604]
 [133.6802225   41.57397476]
 [133.3123415   40.47204238]
 [158.3006687   37.14173328]
 [164.5985128   15.82306042]
 [133.4159845   44.01313857]
 [133.1400738   43.35312292]
 [124.7152409   52.99775236]
 [121.864163    42.61869847]
 [132.864163    42.77821864]
 [169.5985128   16.13294744]
 [150.5765794   37.92311321]
 [151.5985128   15.76962542]
 [167.9444604   39.42309899]
 [139.8408174   34.94861469]]

In [27]:
sp_arr1=df1.iloc[:,0]
sp_arr1

0     104.185353
1     105.461264
2     105.461264
3     113.461264
4     104.461264
         ...
76    169.598513
77    150.576579
78    151.598513
79    167.944460
80    139.840817
Name: SP, Length: 81, dtype: float64

In [28]:
scipy.stats.skew(sp_arr1, axis=0, bias=True)

1.5814536794423764

In [29]:
scipy.stats.kurtosis(sp_arr1, axis=0, fisher=True, bias=True)

2.7235214865269244

In [30]:
wt_arr=df1.iloc[:,1]
wt_arr

0     28.762059
1     30.466833
2     30.193597
3     30.632114
4     29.889149
        ...
76    16.132947
77    37.923113
78    15.769625
79    39.423099
80    34.948615
Name: WT, Length: 81, dtype: float64

In [31]:
scipy.stats.skew(wt_arr, axis=0, bias=True)

-0.6033099322115126

In [32]:
scipy.stats.kurtosis(wt_arr, axis=0, fisher=True, bias=True)

0.8194658792266849